<div class="container__home-page">
    <div class="container__home-page-left">
        <div class="home-page__photo">
            <img src="{{homePagePhoto}}" alt="">
        </div>
    </div>

    <div class="container__home-page-right ">
        <div class="home-page__title">
            <h1><span class="title-name">{{homePageTitle}}</span><span class="sub-title">{{homePageSubitle}}</span></h1>
        </div>
        <div class="home-page__description">
            <p>{{homePageDescription}}</p>
        </div>
        <div class="home-page__projects">
            <a [routerLink]="['projects']">VER PROJETOS</a>
        </div>
    </div>
</div>